@{
    ViewBag.Title = "Home Page";
}
@section featured {

<br />
    <div style="height:600px">
    @*    <table>
            <tr>
                <td>Delivery Chals </td>
                <td>  | <a href="~/DC/?year=2015">2015</a>  | <a href="~/DC/?year=2016">2016</a> | <a href="~/DC/?year=2017">2017</a>  | <a href="~/DC/?year=2018">2018</a> | <a href="~/DC/?year=2019">2019</a></td>
            </tr>
            <tr>
                <td>Invoices</td>
                <td> | <a href="~/Invoice/?year=2015">2015</a>  | <a href="~/DC/?year=2016">2016</a> | <a href="~/DC/?year=2017">2017</a>  | <a href="~/DC/?year=2017">2017</a> | <a href="~/DC/?year=2018">2018</a></td>
            </tr>
            <tr>
                <td>Way Bills</td>
                <td>  |  <a href="~/WayBill/?year=2015">2015</a>  | <a href="~/WayBill/?year=2016">2016</a> | <a href="~/WayBill/?year=2017">2017</a>  | <a href="~/WayBill/?year=2018">2018</a> | <a href="~/WayBill/?year=2019">2019</a></td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>  | <a href="~/Estimate/?year=2015">2015</a>  | <a href="~/Estimate/?year=2016">2016</a> | <a href="~/Estimate/?year=2017">2017</a>  | <a href="~/Estimate/?year=2018">2018</a> | <a href="~/Estimate/?year=2019">2019</a></td>
            </tr>
        </table>*@

    </div>
        
}
